:root {
    --primary-color: #FF5400;
}

.travel-bonus {
    display: flex;
    text-align: center;
    gap: 10px;
    margin-left: 100px;
}

.bonus {
    color: var(--primary-color);
}

.icon {
    margin-top: 17px;
}

.title {
    gap: 20px;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 800;
}

.nav-bar a {
    color: #424247;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 30px;
}

.nav-bar {
    margin-top: 10px;
    margin-left: 60px;
}

header {
    display: flex;
    gap: 260px;
}

.explore-travel {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Images/Group\ 13.png');
    width: 100%;
    border-radius: 16px;
    margin-left: 100px;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    position: absolute;
    border-radius: 16px;
    margin-top: 20px;
}

.h-1 {
    text-align: center;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-top: 100px;
}

.p-1 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    margin-top: -20px;
    font-weight: 400;
}

.field-11 {
    color: rgba(19, 19, 24, 0.50);
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
    border: 10px solid none;
    border-radius: 20px;
    border: none;
}

.field-12 {
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
    border: 1px solid none;
    border-radius: 20px;
    border: none;
}

.field {
    text-align: center;
    color: rgba(19, 19, 24, 0.50);
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
    gap: 40px;
    border: 2px solid none;
    border-radius: 8px;
}